# Virtual Environment:

In [ ]:
"""
1) Ensure Python is Installed
-- python --version

2) Create a Virtual Environment
-- python -m venv myenv

3) Activate the Virtual Environment
--myenv\Scripts\activate
--pip list

4) Install Dependencies
-- pip install <package_name>
--pip show <package_name>

5) Deactivate the Virtual Environment
--deactivate

"""

In [1]:
print("Hello Python interpreter!")

Hello Python interpreter!

In [ ]:
value = input("enter the value here you want to check: \n")
if value[0:] == value[::-1]:
    print("palindrome")
else:
    print("not palindrome")

In [ ]:
#comments:

#print("Hello Python interpreter!")

"""
print("Hello Python interpreter!")
print("Hello Python interpreter!")
"""

In [2]:
#python --version

In [ ]:
"""

Ptyhon2
-------
-->print 'Hello Python' ----->output : Hello Python
-->print 6/4 ----->output : 1 --> integer/integer


Python3
-------
-->print 'Hello Python' ----->output : Error    print ('Hello Python')
-->print (6/4) ----->output : 1.5

"""

In [74]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

# 1) Variables

In [3]:
1

1

In [4]:
2+3

5

In [5]:
6+3
1+2

3

In [2]:
'Hello Python'

'Hello Python'

## Data types & Conversion

In [1]:
# Convert integer to string
num_int = 123
num_str = str(num_int)
print("Integer to String:", num_str)

# Convert string to integer
str_num = "456"
str_int = int(str_num)
print("String to Integer:", str_int)

Integer to String: 123
String to Integer: 456

In [2]:
# Convert float to integer
float_num = 3.14
float_int = int(float_num)
print("Float to Integer:", float_int)

# Convert integer to float
int_float = 100
int_float = float(int_float)
print("Integer to Float:", int_float)

Float to Integer: 3
Integer to Float: 100.0

In [3]:
# Convert string to float
str_float = "2.718"
str_float = float(str_float)
print("String to Float:", str_float)

# Convert string to complex number
complex_str = "3+4j"
complex_num = complex(complex_str)
print("String to Complex:", complex_num)

# Convert complex number to string
complex_num = 2 + 5j
complex_str = str(complex_num)
print("Complex to String:", complex_str)

String to Float: 2.718
String to Complex: (3+4j)
Complex to String: (2+5j)

In [4]:
c = 3 + 4j

# Get the real part of the complex number
real_part = c.real
print("Real Part of c:", real_part)

# Get the imaginary part of the complex number
imag_part = c.imag
print("Imaginary Part of c:", imag_part)

# Convert an integer to binary representation
binary_num = bin(50)
print("Binary representation of 50:", binary_num)

Real Part of c: 3.0
Imaginary Part of c: 4.0
Binary representation of 50: 0b110010

### 1.1) Python syntax

In [ ]:
"""
1) They cannot start with a number.
2) They can contain letters (both uppercase and lowercase), numbers, and underscores (_).
3) They cannot contain spaces or special characters (such as *, &, $, etc.) except for underscores.
4) Variable names are case-sensitive.
5) more clear like 'First_Name'.

"""

In [6]:
name = "Aya"
age = 30
is_student = False
height_cm = 175.5

print("Name:", name)
print(type(name))
print('_____________________________')
print("Age:", age)
print(type(age))
print('_____________________________')
print("Is Student:", is_student)
print(type(is_student))
print('_____________________________')
print("Height (cm):", height_cm)
print(type(height_cm))

Name: Aya
<class 'str'>
_____________________________
Age: 30
<class 'int'>
_____________________________
Is Student: False
<class 'bool'>
_____________________________
Height (cm): 175.5
<class 'float'>

In [7]:
# Assigning values to multiple variables in a single line
name, age, is_student = "Aya", 14, True

print("Name:", name)
print("Age:", age)
print("Is Student:", is_student)

Name: Aya
Age: 14
Is Student: True

In [19]:
#Data Type---------->****Presentation

## 1.2) Numbers

### 1.2.1) Arithmetic operators

In [54]:
# Addition
result_add = 10 + 5
print("Addition:", result_add)

# Subtraction
result_sub = 20 - 8
print("Subtraction:", result_sub)

# Multiplication
result_mul = 6 * 4
print("Multiplication:", result_mul)

Addition: 15
Subtraction: 12
Multiplication: 24

In [22]:
# Exponentiation
result_exp = 2 ** 3
print("Exponentiation:", result_exp)

# Modulus
result_mod = 17 % 3
print("Modulus:", result_mod)

Exponentiation: 8
Modulus: 2

In [25]:
# Division
result_div = 25 / 5
print("Division:", result_div)

# Floor Division
result_floor_div = 30 // 7
print("Floor Division:", result_floor_div)

Division: 5.0
Floor Division: 4

In [26]:
# comparison Division and Floor Division

In [27]:
5/2

2.5

In [28]:
#3 : 2.5 : 2
5//2

2

In [29]:
-5/2

-2.5

In [31]:
# -3 : -2.5 : 2
-5//2

-3

In [33]:
# Without grouping
result_without_grouping = 10 + 5 * 2
print("Result without grouping:", result_without_grouping)  # Output: 20 (5 * 2 = 10, then add 10 to 10)

# With grouping (parentheses)
result_with_grouping = (10 + 5) * 2
print("Result with grouping:", result_with_grouping)  # Output: 30 ((10 + 5) = 15, then multiply 15 by 2)

# Mixed grouping and operators
mixed_expression = (10 + 5) * (2 - 1)
print("Mixed expression result:", mixed_expression)  # Output: 15 ((10 + 5) = 15, (2 - 1) = 1, then multiply 15 by 1)

Result without grouping: 20
Result with grouping: 30
Mixed expression result: 15

## Math Library

In [6]:
import math as m

In [7]:
# Factorial
x = 5
factorial_result = m.factorial(x)
print("Factorial of", x, "is", factorial_result)

# Exponential
exp_result = m.exp(x)
print("Exponential of", x, "is", exp_result)

# Natural logarithm 
ln_result = m.log(x)
print("Natural logarithm of", x, "is", ln_result)

Factorial of 5 is 120
Exponential of 5 is 148.4131591025766
Natural logarithm of 5 is 1.6094379124341003

In [10]:
# Mathematical constants
print("Value of pi:", m.pi)
print("Value of e:", m.e)
print("Value of infinity:", m.inf*5)

Value of pi: 3.141592653589793
Value of e: 2.718281828459045
Value of infinity: inf

### 1.2.2) Assignment operators

In [5]:
# += Add and Assign
num_add_assign = 5
num_add_assign += 3  # Equivalent to num_add_assign = num_add_assign + 3
print("Add and Assign:", num_add_assign)  

# -= Subtract and Assign
num_sub_assign = 15
num_sub_assign -= 7  # Equivalent to num_sub_assign = num_sub_assign - 7
print("Subtract and Assign:", num_sub_assign)

Add and Assign: 8
Subtract and Assign: 8

In [6]:
print (15 -=7)

SyntaxError: invalid syntax (2152052434.py, line 1)

In [7]:
# *= Multiply and Assign
num_mul_assign = 4
num_mul_assign *= 3  # Equivalent to num_mul_assign = num_mul_assign * 3
print("Multiply and Assign:", num_mul_assign)  

# /= Divide and Assign
num_div_assign = 20
num_div_assign /= 5  # Equivalent to num_div_assign = num_div_assign / 5
print("Divide and Assign:", num_div_assign) 
print("Divide and Assign:", type(num_div_assign) )

Multiply and Assign: 12
Divide and Assign: 4.0
Divide and Assign: <class 'float'>

In [15]:
# %= Get Modulus and Assign
num_mod_assign = 17
num_mod_assign %= 5  # Equivalent to num_mod_assign = num_mod_assign % 5
print("Get Modulus and Assign:", num_mod_assign)  

# //= Floor Divide and Assign
num_floor_div_assign = 30
num_floor_div_assign //= 7  # Equivalent to num_floor_div_assign = num_floor_div_assign // 7
print("Floor Divide and Assign:", num_floor_div_assign)  

# **= Get Exponent and Assign
num_exp_assign = 3
num_exp_assign **= 4  # Equivalent to num_exp_assign = num_exp_assign ** 4
print("Get Exponent and Assign:", num_exp_assign)  #  (3 raised to the power of 4)

Get Modulus and Assign: 2
Floor Divide and Assign: 4
Get Exponent and Assign: 81

### 1.2.3) Comparison operators

In [16]:
# Equal to (==)
a = 10
b = 10
print("Equal to (==):", a == b)  

# Greater than or equal to (>=)
x = 15
y = 10
print("Greater than or equal to (>=):", x >= y) 

# Less than or equal to (<=)
m = 5
n = 8
print("Less than or equal to (<=):", m <= n)

Equal to (==): True
Greater than or equal to (>=): True
Less than or equal to (<=): True

In [20]:
# Not equal to (!=)
p = 10
q = 5
print("Not equal to (!=):", p != q)  

# Greater than (>)
num1 = 20
num2 = 15
print("Greater than (>):", num1 > num2)  

# Less than (<)
value1 = 10
value2 = 25
print("Less than (<):", value1 < value2)

Not equal to (!=): True
Greater than (>): True
Less than (<): True

In [10]:
# Not equal to (!=)
p = 10.5
q = 10.5
print("Not equal to (!=):", p != q)

Not equal to (!=): False

In [42]:
# Examples

In [45]:
# values are equal , the same data type
6 =="6"

False

In [47]:
print(True == "True")

False

In [48]:
print(True == 1)

True

In [49]:
print(False == 0)

True

In [50]:
print(True == 100)

False

### 1.2.4) logical operators

In [ ]:
#AND
"""
Trace Table:
1 | 1 --->1
1 | 0 --->0
0 | 1 --->0
0 | 0 --->0
"""

In [51]:
#Logical AND
x = 5
y = 10
print(x > 0 and y < 20)  # (Both conditions are true)
print(x < 0 and y < 20)  # (First condition is false)

True
False

In [ ]:
#OR
"""
Trace Table:
1 | 1 --->1
1 | 0 --->1
0 | 1 --->1
0 | 0 --->0
"""

In [52]:
#Logical OR
x = 5
y = 10
print(x > 0 or y < 20)  # (At least one condition is true)
print(x < 0 or y < 20)  # (Second condition is true)
print(x < 0 or y > 20)  # (Both conditions are false)

True
True
False

In [53]:
#Logical NOT
x = 5
print(not x > 0)  # (x > 0 is true, so not(x > 0) is false)
print(not x < 0)  # (x < 0 is false, so not(x < 0) is true)

False
True

In [55]:
# Examples

In [58]:
100 and 5

5

In [60]:
not "sample"

False

In [63]:
not ""

True

In [64]:
0 and 100

0

In [65]:
0 or 100

100

In [66]:
2 or 100

2

### 1.2.5) Falsy values

In [ ]:
"""
value = False
value = None
value = 0
value = []
value = ''

"""

### 1.2.6) Built-in-function-Numbers

In [57]:
number = -10
print(abs(number))

10

In [58]:
number = 3.14159
rounded_number = round(number, 2)
print(rounded_number)

3.14

In [59]:
numbers = [3, 7, 1, 9, 5]
print(max(numbers))

9

In [ ]:
numbers = [3, 7, 1, 9, 5]
print(min(numbers))

In [60]:
result = pow(2, 3)  # 2 raised to the power of 3
print(result)

8

In [1]:
numbers = [1, 2, 3, 4, 5]
print(sum(numbers))

15

In [73]:
number=123
dir(number)

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_count',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

## 1.3) Strings

### 1.3.1) Escape Characters

In [3]:
my_string_one = "Hello, world!"
print(my_string_one)

my_string_two = 'Hello, world!'
print(my_string_two)

my_string_three = 'Hello, world! "Python Programming Language"'
print(my_string_three)

my_string_four = "Hello, world! 'Python Programming Language'"
print(my_string_four)

Hello, world!
Hello, world!
Hello, world! "Python Programming Language"
Hello, world! 'Python Programming Language'

In [6]:
my_string_five = 'Hello, world! 'Python Programming Language''
print(my_string_five)

SyntaxError: invalid syntax. Perhaps you forgot a comma? (3139438781.py, line 1)

In [10]:
#Newline (\n):
print("Hello,\nworld!")

Hello,
world!

In [11]:
#Tab (\t):
print("Hello,\tworld!")

Hello,	world!

In [12]:
#Backslash (\)
print("This is a backslash: \\")

This is a backslash: \

In [12]:
#Single Quote (')
print('He\'s a good boy.')

He's a good boy.

In [14]:
#Double Quote (")
print("She said, \"Hello!\"")

She said, "Hello!"

In [19]:
#Raw String (r'')
print(r'C:\Users\John\Desktop')

C:\Users\John\Desktop

In [20]:
message = '''This is a multi-line
string using triple single quotes.
It can span across multiple lines.'''

print(message)

This is a multi-line
string using triple single quotes.
It can span across multiple lines.

## Accessing

In [10]:
my_string = "Hello, world!"
# Accessing individual characters
print(my_string[0])  # Output: H
print(my_string[6])  # Output: " "
print(my_string[-1])  # Output: ! (last character)

H

!

In [13]:
my_string = "Hello,world!"
# Accessing a range of characters (slicing)
print(my_string[1:5])  # Output: ello
print(my_string[:5])  # Output: Hello (from beginning up to index 5)
print(my_string[7:])  # Output: world! (from index 7 to the end)

ello
Hello
orld!

In [17]:
my_string = "Hello, world!"
# Accessing characters with steps
print(my_string[::2])  # Output: Hlo ol!
print(my_string[::-1])  # Output: !dlrow ,olleH (reversed string)

Hlo ol!
!dlrow ,olleH

### 1.3.2) Built-in-function_String

In [33]:
my_string = "Hello, world!"
print(len(my_string))

13

In [28]:
message = "hello"
print(message.upper())

HELLO

In [18]:
name = "Ahmed"
print(name.capitalize())

Ahmed

In [31]:
sentence = "python programming is fun"
print(sentence.title())

Python Programming Is Fun

In [56]:
# Original string with leading and trailing whitespace
original_string = "   Hello, world!   "

# Using strip() to remove leading and trailing whitespace
stripped_string = original_string.strip()
print("Stripped:", stripped_string)  

# Using lstrip() to remove leading whitespace
left_stripped_string = original_string.lstrip()
print("Left Stripped:", left_stripped_string) # Output: "Hello, world!   "

# Using rstrip() to remove trailing whitespace
right_stripped_string = original_string.rstrip()
print("Right Stripped:", right_stripped_string)

Stripped: Hello, world!
Left Stripped: Hello, world!
Right Stripped:    Hello, world!

In [21]:
product = "smartphone"
price = 699
message = "The " + product + " costs $" + price + "."
print(message)

TypeError: can only concatenate str (not "int") to str

In [20]:
# Concatenate variables to create a message
product = "smartphone"
price = 699
message = "The " + product + " costs $" + str(price) + "."
print(message)

The smartphone costs $699.

In [14]:
# Repeat a string multiple times
separator = "-" * 20
print(separator)
print("Welcome to My Program")
print(separator)

--------------------
Welcome to My Program
--------------------

In [24]:
# Using f-strings for string interpolation
name = "Ahmed"
age = 30
greeting = f"Hello, my name is {name} and I am {age} years old."
print(greeting)

Hello, my name is Ahmed and I am 30 years old.

In [36]:
message = "Hello, world!"
new_message = message.replace("Hello", "Hi")
print(new_message)

Hi, world!

In [38]:
sentence = "Python is awesome"
words = sentence.split(" ")  # Default delimiter is whitespace
print(words)

['Python', 'is', 'awesome']

In [27]:
words = ['Python', 'is', 'awesome']
sentence = ' '.join(words)
print(sentence)

Python is awesome

In [54]:
# element inside quotes"
#isdigit(): Checks if all characters in the string are digits.
num_str = "12345"
alpha_num_str = "123abc"
fraction_str = "½"

print(num_str.isdigit())  
print(alpha_num_str.isdigit())  
print(fraction_str.isdigit())

True
False
False

In [32]:
print("123".isdigit())       # True
print("123.45".isdigit())    # False (contains a period)
print("12 34".isdigit())     # False

print("٢٣".isdigit())        # True (Arabic-Indic digits)
print("3²".isdigit())        # True (superscript two)
print("Ⅷ".isdigit())       # False (Roman numeral)

True
False
False
True
True
False

In [55]:
#isnumeric(): Checks if all characters in the string are numeric (including digits, fractions..etc.).
num_str = "12345"
fraction_str = "½"
alpha_num_str = "123abc"

print(num_str.isnumeric())  
print(fraction_str.isnumeric()) 
print(alpha_num_str.isnumeric())

True
True
False

In [30]:
print("123".isnumeric())      # True
print("123.45".isnumeric())   # False (contains a period)
print("12 34".isnumeric())    # False (contains a space)

print("٢٣".isnumeric())       # True (Arabic-Indic digits)
print("3²".isnumeric())       # True (superscript two)
print("Ⅷ".isnumeric())      # True (Roman numeral for eight)
print("⅔".isnumeric())        # True (fraction)

True
False
False
True
True
True
True

In [48]:
alpha_str = "abcDEF"
alpha_num_str = "123abc"
num_str = "12345"

print(alpha_str.isalpha())  
print(alpha_num_str.isalpha()) 
print(num_str.isalpha())

True
False
False

In [17]:
a = "Hello"

# adds spaces to the right of the string to make the total length 30 characters.
left_justified = a.ljust(30)
print("Left Justified with Spaces:")
print(left_justified)

#adds spaces to the left of the string to make the total length 30 characters
right_justified_spaces = a.rjust(30)
right_justified_star = a.rjust(30, '*')
print("Right Justified with Spaces:")
print(right_justified_spaces)
print("Right Justified with Stars:")
print(right_justified_star)

#the string with zeros from the left to make the total length 5 characters
a = "42"
zero_filled = a.zfill(5)
print("Zero Filled:")
print(zero_filled)

Left Justified with Spaces:
Hello
Right Justified with Spaces:
                         Hello
Right Justified with Stars:
*************************Hello
Zero Filled:
00042

### 1.3.3) Input from user

In [34]:
user_input = input("Enter a number: ")
type(user_input)

Enter a number:  Hello

str

In [66]:
user_input = input("Enter a number: ")
print(type(user_input))

user_input_int=int(user_input)
print(type(user_input_int))

Enter a number:  12

<class 'str'>
<class 'int'>

In [35]:
#Note ????????????????????
user_input = input("Enter a number: ")
print(type(user_input))

user_input_int=int(user_input)
print(type(user_input_int))

Enter a number:  55.5

<class 'str'>

ValueError: invalid literal for int() with base 10: '55.5'

In [67]:
str1 = "Hello"
str2 = "world!"
concatenated_string = str1 + " " + str2
print(concatenated_string)

Hello world!

In [72]:
name ='Ahmed'
dir(name)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

# 2) if...else and if...elif...else statements

In [75]:
x = 10
if x > 5:
    print("x is greater than 5")
else:
    print("x is not greater than 5")

x is greater than 5

In [76]:
temperature = 25
if temperature < 0:
    print("Freezing")
elif temperature >= 0 and temperature < 10:
    print("Cold")
elif temperature >= 10 and temperature < 20:
    print("Cool")
elif temperature >= 20 and temperature < 30:
    print("Warm")
else:
    print("Hot")

Warm

In [77]:
x = 10
if x > 5:
    if x % 2 == 0:
        print("x is greater than 5 and even")
    else:
        print("x is greater than 5 but odd")
else:
    print("x is not greater than 5")

x is greater than 5 and even

In [78]:
x = 10
message = "Even" if x % 2 == 0 else "Odd"
print(message)  

age = 20
status = "Adult" if age >= 18 else "Minor"
print(status)

Even
Adult

In [83]:
#ascii code
letter = 'b'
if 'a' <= letter <= 'z':
    print("Lowercase letter")

Lowercase letter

# 3) Lists

In [ ]:
# Data type------>****** presentation

## 3.1) Accessing Elements

In [88]:
my_list = [1, 2, 3, 4, 5]
print(my_list[0])  # (accessing the first element)
print(my_list[-1])  # (accessing the last element)

1
5

In [87]:
print(my_list[1:4])  #  (slicing from index 1 to index 3)
print(my_list[:3])  # (slicing from the beginning to index 2)
print(my_list[2:])  # (slicing from index 2 to the end)

[2, 3, 4]
[1, 2, 3]
[3, 4, 5]

In [36]:
mixed_list = ["apple", [1, 2, 3], (4, 5, 6)]

print(mixed_list[0])
print(mixed_list[0][0])  
print(mixed_list[1])  
print(mixed_list[1][1])  
print(mixed_list[2][2])

a
[1, 2, 3]
2
6

## 3.2) Modefing Elements

In [38]:
mixed = ['Hello', [1, 2, 3], ('a', 'b', 'c'), 42, ['apple', 'banana']]
mixed[0] = "orange"  
print(mixed) 

mixed[1][2] = 55  
print(mixed) 

#Tuple ??????????????????????? 
mixed[2][1] = 55  
print(mixed)

['orange', [1, 2, 3], ('a', 'b', 'c'), 42, ['apple', 'banana']]
['orange', [1, 2, 55], ('a', 'b', 'c'), 42, ['apple', 'banana']]

TypeError: 'tuple' object does not support item assignment

In [39]:
mixed[2] = 55  
print(mixed)

['orange', [1, 2, 55], 55, 42, ['apple', 'banana']]

In [40]:
mixed.append(6)  # Appends 6 to the end of the list
print(mixed)  

mixed.insert(2, 7)
print(mixed)

['orange', [1, 2, 55], 55, 42, ['apple', 'banana'], 6]
['orange', [1, 2, 55], 7, 55, 42, ['apple', 'banana'], 6]

In [41]:
mixed = ['orange', [1, 2, 55], 7, 7, 55, 42, ['apple', 'banana'], 6, 6]

mixed[1].insert(2,'carrot')  
print(mixed)

mixed[6].insert(0,1)  
print(mixed)

['orange', [1, 2, 'carrot', 55], 7, 7, 55, 42, ['apple', 'banana'], 6, 6]
['orange', [1, 2, 'carrot', 55], 7, 7, 55, 42, [1, 'apple', 'banana'], 6, 6]

In [42]:
mixed.remove(7)  
print(mixed)  

mixed.pop() 
print(mixed)

['orange', [1, 2, 'carrot', 55], 7, 55, 42, [1, 'apple', 'banana'], 6, 6]
['orange', [1, 2, 'carrot', 55], 7, 55, 42, [1, 'apple', 'banana'], 6]

In [120]:
numbers = [3, 1, 4, 1, 5, 9, 2, 6, 5, 3, 5]
numbers.sort()
print(numbers)  

letters = ['a', 'b', 'c', 'd', 'e']
letters.reverse()
print(letters)

[1, 1, 2, 3, 3, 4, 5, 5, 5, 6, 9]
['e', 'd', 'c', 'b', 'a']

In [18]:
fruits = ['apple', 'banana', 'cherry']
more_fruits = ['orange', 'grape']
fruits.extend(more_fruits)
print(fruits)  

print(len(fruits))

['apple', 'banana', 'cherry', 'orange', 'grape']
5

In [19]:
del fruits

## Problem Statement

In [ ]:
"""
A real estate company has a small list of properties, each represented as a dictionary. 

1) Check if a specific property is available for sale.
2) Determine if a property falls within a given price range.
3) Print details of a property based on specific criteria.
"""

In [43]:
properties = [
    {'price': 300000, 'location': 'New York', 'bedrooms': 3, 'status': 'available'},
    {'price': 250000, 'location': 'Los Angeles', 'bedrooms': 2, 'status': 'sold'},
    {'price': 450000, 'location': 'Chicago', 'bedrooms': 4, 'status': 'available'}
]

# Property index we want to check
property_index = 1

# Check if the property at the specified index is available for sale
if properties[property_index]['status'] == 'available':
    print("The property is available for sale.")
else:
    print("The property is not available for sale.")

print('__________________________________________________________________________________')
# Define a price range
min_price = 200000
max_price = 400000

# Check if the property falls within the specified price range
if min_price <= properties[property_index]['price'] <= max_price:
    print("The property is within the specified price range.")
else:
    print("The property is not within the specified price range.")

print('__________________________________________________________________________________')

# Criteria for printing details
location_criteria = 'Chicago'
bedrooms_criteria = 4

# Check if the property meets the specified criteria
if properties[2]['location'] == location_criteria and properties[2]['bedrooms'] == bedrooms_criteria:
    print(f"Property details: Price: ${properties[2]['price']}, Location: {properties[2]['location']}, Bedrooms: {properties[2]['bedrooms']}, Status: {properties[2]['status']}")
else:
    print("The property does not meet the specified criteria.")

The property is not available for sale.
__________________________________________________________________________________
The property is within the specified price range.
__________________________________________________________________________________
Property details: Price: $450000, Location: Chicago, Bedrooms: 4, Status: available

## Problem Statement

In [ ]:
"""
A dairy products factory categorizes its products into Milk, Cheese, and Yogurt. 
Each category has a list of specific products with their quantities in stock. We want to:

1) Check if a specific product is in stock.
2) Determine if the quantity of a product is below a certain threshold.
3) Print details of a product if it meets specific criteria.
"""

In [44]:
dairy_products = [
    ['Milk', [['Whole Milk', 100], ['Skim Milk', 50], ['Soy Milk', 30]]],
    ['Cheese', [['Cheddar', 40], ['Mozzarella', 20], ['Parmesan', 10]]],
    ['Yogurt', [['Greek Yogurt', 60], ['Regular Yogurt', 25], ['Low-fat Yogurt', 15]]]
]

# Specific product to check
category_index = 0  # 0 for Milk, 1 for Cheese, 2 for Yogurt
product_index = 1   # Index of the specific product within the category

# Check if the product is in stock
if dairy_products[category_index][1][product_index][1] > 0:
    print(f"The product {dairy_products[category_index][1][product_index][0]} is in stock.")
else:
    print(f"The product {dairy_products[category_index][1][product_index][0]} is out of stock.")

print('______________________________________________________')

# Define a threshold for low stock
threshold = 20

# Check if the quantity of the product is below the threshold
if dairy_products[category_index][1][product_index][1] < threshold:
    print(f"The product {dairy_products[category_index][1][product_index][0]} has low stock.")
else:
    print(f"The product {dairy_products[category_index][1][product_index][0]} has sufficient stock.")

print('______________________________________________________')

# Criteria for printing details
specific_category = 'Yogurt'
specific_product = 'Greek Yogurt'

# Check if the specific product meets the criteria and print details
if dairy_products[2][0] == specific_category and dairy_products[2][1][0][0] == specific_product:
    print(f"Product details: Category: {dairy_products[2][0]}, Name: {dairy_products[2][1][0][0]}, Quantity: {dairy_products[2][1][0][1]}")
else:
    print(f"The product {specific_product} in category {specific_category} does not meet the criteria.")

The product Skim Milk is in stock.
______________________________________________________
The product Skim Milk has sufficient stock.
______________________________________________________
Product details: Category: Yogurt, Name: Greek Yogurt, Quantity: 60

# IPython

In [ ]:
ipython
%ls --> source file dir
%lsmagic --> all magic function    
%timeit print('Hello') --> time to execute this line
%pycat Python Day_01.ipynb --> to return file content , R (to continue)
--Ctrl + D --> exit


External library: https://pypi.org/
pip list
pip show pandas